<h1> THIS IS MY INDEX PAGE </h1>
<H1> This node os is: {{ansible_os_family}} </H1>
<H1> This node ip is: {{ansible_all_ipv4_addresses}} </H1> 
<H1> In this node the Java version is: {{myjavaonubuntu}} </H1>